<div class="row">
  <div class="small-3 small-centered columns">
    <h1><a href="/">Haloer</a></h1>
     <div>
       <%= image_tag(spartan(@player)) %>
     </div>

     <div>
       <%= image_tag(emblem(@player)) %>
     </div>

     <h2> Last Game </h2>
     <div>
       <%= stats(@player, @count) %>
     </div>
  </div>
</div>